{% extends 'base.html.twig' %}

{% block title %}M'inscrire{% endblock %}

{% block body %}
    <h1>M'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

        <div>
            {{ form_row(registrationForm.nickname, { 
                label: 'Pseudo' 
            }) }}
        </div>

        <div>
            {{ form_row(registrationForm.email) }}
        </div>

        <div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>

        <div>
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
            
        <button type="submit" class="btn">S'inscrire</button>

        <p>Déjà inscrit(e) ? <a href="{{ path('app_login') }}">Me connecté(e)</a></p>

    {{ form_end(registrationForm) }}
{% endblock %}
